*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/
.idea/
.idea/misc.xml
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
